html, body {
	height: auto;
	min-height: 100%;
	font-family: Sans-serif;
	/*border: 1px dashed #ccc;*/
}

body {
	min-width: 900px;
	width: 100%;
	margin: 0px;
	background-color: #b5cee2;
	background: linear-gradient(to top, #fbfdfe, #b5cee2);
	/*border: 1px dashed #555;*/
}

#content {
	height: auto;
	min-height: 100%;
	width: 840px;
	margin: auto;
	/*border: 1px dashed #555;*/
}

#header {
	width: 100%;
	height: 60px;
	margin: auto;
	/*border: 1px solid #ccc;*/
	border-top: none;
	background-color: #fff;
}

.header-logo {
	display: table;
	height: 100%;
	float: left;
}

.header-logo a{
	display: table-cell;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	vertical-align: middle;
	padding-left: 15px;
	color: rgb(70,130,180);
}

.header-links {
	display: table;
	height: 100%;
	float: right;
}

.header-links a{
	display: table-cell;
	text-decoration: none;
	vertical-align: middle;
	padding-right: 15px;
	color: #aaa;
}

#dashboard {
	float: right;
	height: auto;
	min-height: 100%;
	width: 500px;
	margin: 25px auto;
	padding: 25px 30px 0px 30px;
	/*border: 1px solid #ccc;*/
	border-radius: 6px;
	/*background-color: #fff;*/
	background: linear-gradient(to bottom, #dfeaf3, #b5cee2);
}

#sidenav {
	height: 400px;
	width: 250px;
	float: left;
	margin: 25px auto;
	/*border: 1px solid #ccc;*/
	border-radius: 6px;
	background-color: #fff
}

.action {
	text-align: right;
	color: #777;
	font-size: 16px;
}

.action a {
	color: #777;
	text-decoration: none;
}

.ranking {
	width: 100%;
	border-radius: 6px;
	border: 1px solid #ddd;
	height: auto;
	border: none;
	margin-bottom: 35px;
	margin-top: 5px;
	background-color: #fff;
}

.ranking-ref {
	float: left;
	margin-left: 40px;
	text-decoration: none;
	color: #fff;
	font-style: bold;
	font-size: 28px;
	color: #fff;
}

.ranking-header {
	display: table;
	border-radius: 6px 6px 0px 0px;
	width: 100%;
	height: 56px;
	background-color: #4682b4;
	border-bottom: 1px solid #ccc;
}

.ranking-title {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.ranking-item {
	display: table;
	width: 100%;
	height: 40px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	margin:-1px 0px -1px 0px;
}

.ranking-footer {
	display: table;
	border-radius: 0px 0px 6px 6px;
	width: 100%;
	height: 46px;
	background-color: #fbfdfe;
	border-top: 1px solid #ccc;
}

.ranking-content {
	min-height: 30px;
	background-color: #edf3f8;
}

.item-rank {
	height: 40px;
	width: 40px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 24px;
	font-style: bold;
	color: #aaa;
	border-right: solid #ccc 1px;
}

.item-name {
	display: table-cell;
	font-family: Sans-serif;
	vertical-align: middle;
	text-align: left;
	padding-left: 15px;
	font-size: 18px;
	color: #777;
}

#new-ranking {
	width: 500px;
	height: auto;
	margin: 100px auto;
}

#ranking-title-input {
	margin: 0px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #fff;
	box-sizing: border-box;
	border: none;
	background: none;
}

.item-name-input {
	display: block;
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	font-size: 18px;
	color: #555;
	background: #fff;
	border: none;
}

.ranking-button {
	float: right;
	color: #fff;
	border: none;
	margin: 10px;
	border-radius: 5px;
	width: 80px;
	height: 30px;
	background: #46b4af; /*#4682b4;*/
}

.signup {
	width: 300px;
	height: auto;
	margin: 100px auto;
}

.signup-header {
	display: table;
	width: 100%;
	height: 40px;
}

.signup-title {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

.signup-error {
	color: red;
}