<!DOCTYPE html>

<html>
<head> 
	{% block head %}
	<title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    {% endblock head %}
    <meta charset="utf-8">
</head>

<body>
	
	<div id="header">
		{% block header %}
		<div class="header-logo">
			{% block logo %} <a href="/">RANKIT</a> {% endblock logo %}
		</div>
		<!-- <div> <input type="search" placeholder="Search..."/></div> -->
		<div class="header-links">
			{% block links %}
			<a href="/user/{{current_user_name}}">{{current_user_name}}</a>
			<a href="/new">New ranking</a>
			<a href="/signout">Signout</a>
			</div>
			{% endblock links %}
		</div>

		{% endblock header %}
	</div>
	
	<div id="wrapper">
		<div id="content">
			{% block content %} {% endblock content %}
		</div>
	</div>

	<div id="footer">
		{% block footer %}{% endblock footer %}
	</div>
</body>

</html>