{% extends "base.html" %}
{% from "render.html" import render_ranking %}

{% block title %} Rankit | {{current_user_name}} {% endblock title %}

{% block content %}

<div id="leftcolumn">
	{% include "sidenav.html" %}
</div>

<div id="dashboard">

	{% block dashboard %}
	
	{% for ranking in rankings %}
	
		<div class="action">
			<a href='/user/{{ranking.creator}}'>{{ranking.creator}}</a>, {{ranking.created.strftime("%b %d, %Y")}}
		</div>

		<div class="ranking-container">

		<img class="ranking-avatar" src="../img/noavatar.jpeg"> </img>

		{{ render_ranking(ranking, items[ranking.get_id()]) }}
		
		</div>
	{% endfor %}

	{% endblock dashboard %}
</div>

{% endblock content %}