{% extends "ranking_page.html" %}

{% block title  %} Rankit | New ranking {% endblock title %}

{% block ranking %}
<div id="new-ranking">

	<div class="ranking">
		<div class="ranking-header">
			<span class="ranking-title">
				<input id="ranking-title-input" type="text" placeholder="Enter ranking title...">
			</span>
		</div>

		<div class="ranking-content">
		</div>

		<div class="ranking-item">
			<span class="item-name">
				<input class="item-name-input" type="text" placeholder="Enter item name and press add..." id="item-text">
			</span>
		</div>

		<div class="ranking-footer">
			<form method="post">
				<input type="hidden" value="" name="ranking">
				<input id="submit-ranking" class="post-ranking" type="submit" value="Post">
			</form>
			<input id="add-item" class="post-ranking" type="button" value="Add">		
		</div>

	</div>
</div>
{% endblock ranking %}